<div class="bg">
  <div class="container">
    <h1>Screen</h1>
    <div class="wrapperBlock" >
      <div *ngFor="let data of places">
          <div class="square" (click)="onClick(data._id)" [ngSwitch]="getStatus(data._id)">
            <span *ngIf="data.select === true">
              <span  class="SelectedSeat">
                <div *ngSwitchCase="'currentsel'"  class="curSelectedSeat "></div>
                <span *ngIf="data.bought === true">
              <span  class="boughtSeat"></span>
            </span>
              </span>
            </span>

          </div>
      </div>
    </div>
    <div *ngIf="isShow">
      <div class="blockSelect">
        <div *ngFor="let data of select">
             {{'Row: ' + data.row + ' ' + 'Place: ' + data.place}}
            <div class="btn badge-danger" title="delete selectPlace"
                    (click)="delete(data)">x</div>
        </div>
      </div>
      <div class="btnReserve">
          <app-payment [selectPlace]="select"></app-payment>
      </div>
    </div>
  </div>
</div>
