<div class="bg">
  <div class="container">
    <h1>Screen</h1>
    <div class="wrapperBlock" >
      <div *ngFor="let data of places">
          <div class=" square"   (click)="onClick(data._id)" [ngSwitch]="getStatus(data._id)">
                {{ data._id }}
            <div *ngIf="data.select === true">
              <div *ngSwitchCase="'selected'" ><div class="SelectedSeat btn"></div></div>
              <div *ngSwitchCase="'currentselected'" class="btn currSelectedSeat"></div>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="isShow">
      <div class="blockSelect">
        <div *ngFor="let data of places">
          <div *ngIf="data.select === true">
             {{'Row: ' + data.row + ' ' + 'Place: ' + data.place}}
            <button class="delete" title="delete selectPlace"
                    (click)="delete(data)">x</button>
          </div>
        </div>
      </div>
      <div class="btnReserve">
          <app-payment [selectPlace]="select"></app-payment>
      </div>
    </div>
  </div>
</div>
