.bg{
  background: url("src/img/wallpapersden.jpg");

  /* Half height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: wheat;
  flex-flow: row wrap;

}
.square{
  /*height: 20px;*/
  /*width: 20px;*/
  /*background-color: white;*/
  /*display: flex;*/
  /*align-items: flex-start;*/
  margin: 0;
  padding: 0;
  width: calc(5vmin - 1px);
  height: calc(5vmin - 1px);
  border: 1px solid #aaa;
  background-color: rgba(0,0,0,0.5);
  /*background-size: cover;*/
  box-sizing: border-box;
  /*color: rgba(0,0,0,0);*/
}
.wrapperBlock{
  margin: 3px auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: calc(50vmin - 5px);
  height: calc(50vmin - 5px);
  border: 2px solid #333;
}
.blockSelect{
  margin: 9px auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: calc(50vmin - 5px);
  height: calc(20vmin - 5px);
  border: 2px solid #333;
  /*background-color: #eee;*/
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.btnReserve{
  width: calc(50vmin - 5px);
  margin: 9px auto;

}

.SelectedSeat{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: gray;
}
.curSelectedSeat{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: green;
}
.boughtSeat{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: red;
}
